In [2]:
import pandas as pd
import numpy as np

print(f"Pandas 버전: {pd.__version__}")

data = {
    'name': ['김철수', '이영희', '박민수', '최수진'],
    'age': [22, 21, 23, 22],
    'major': ['ITM', 'CS', 'ITM', 'AI'],
    'gpa': [3.8, 3.9, 3.6, 4.0]
}

df = pd.DataFrame(data)
print(df)

Pandas 버전: 2.2.3
  name  age major  gpa
0  김철수   22   ITM  3.8
1  이영희   21    CS  3.9
2  박민수   23   ITM  3.6
3  최수진   22    AI  4.0

In [10]:
print(f"데이터 모양: {df.shape}")
print(f"컬럼명: {list(df.columns)}")
print(f"데이터 타입:\n{df.dtypes}")

print(df.describe())

print(df['name'])
print(df[['name', 'gpa']])

high_gpa = df[df['gpa'] >= 3.8]
print(f"gpa 3.8이상인 학생들:")
print(high_gpa)

데이터 모양: (4, 4)
컬럼명: ['name', 'age', 'major', 'gpa']
데이터 타입:
name      object
age        int64
major     object
gpa      float64
dtype: object
             age       gpa
count   4.000000  4.000000
mean   22.000000  3.825000
std     0.816497  0.170783
min    21.000000  3.600000
25%    21.750000  3.750000
50%    22.000000  3.850000
75%    22.250000  3.925000
max    23.000000  4.000000
0    김철수
1    이영희
2    박민수
3    최수진
Name: name, dtype: object
  name  gpa
0  김철수  3.8
1  이영희  3.9
2  박민수  3.6
3  최수진  4.0
gpa 3.8이상인 학생들:
  name  age major  gpa
0  김철수   22   ITM  3.8
1  이영희   21    CS  3.9
3  최수진   22    AI  4.0

In [13]:
df['scholarship'] = df['gpa'] >= 3.8
df['grade'] = df['gpa'].apply(lambda x: 'A' if x >= 3.8 else 'B' if x >= 3.5 else 'C')

new_student = pd.DataFrame({
    'name': ['정지훈'],
    'age': [24],
    'major': ['ITM'],
    'gpa': [3.7],
    'scholarship': [False],
    'grade': ['B']
})

df = pd.concat([df, new_student], ignore_index=True)

print(f"업데이트된 DataFrame:")
print(df)

업데이트된 DataFrame:
  name  age major  gpa  scholarship grade
0  김철수   22   ITM  3.8         True     A
1  이영희   21    CS  3.9         True     A
2  박민수   23   ITM  3.6        False     B
3  최수진   22    AI  4.0         True     A
4  정지훈   24   ITM  3.7        False     B
5  정지훈   24   ITM  3.7        False     B